.wrapper {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e1e5ec;
  border-right: 1px solid #e1e5ec;

  &::before,
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    background: #e1e5ec;
    pointer-events: none;
  }

  &::before {
    left: 0;
    top: 45%;
    width: 100%;
    height: 1px;
    transform: translateY(-45%);
  }

  &::after {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
  }
}

.timeline__container {
  gap: 393px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 70px;
  min-height: 900px;
  flex-direction: column;
}

.title__heading {
  margin: 0;
  color: #42567A;
  font-size: 56px;
  max-width: 400px;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
  padding-left: 80px;

  &::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    content: "";
    position: absolute;
    background: linear-gradient(#3877EE, #EF5DA8);
  }
}