.wrapper {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e1e5ec;
  border-right: 1px solid #e1e5ec;

  &::before,
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    background: #e1e5ec;
    pointer-events: none;
  }

  &::before {
    left: 0;
    top: 45%;
    width: 100%;
    height: 1px;
    transform: translateY(-45%);
  }

  &::after {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
  }
}

.timeline__container {
  gap: 393px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 70px;
  min-height: 900px;
  flex-direction: column;
}

.title__heading {
  margin: 0;
  color: #42567A;
  font-size: 56px;
  max-width: 400px;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
  padding-left: 80px;

  &::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    content: "";
    position: absolute;
    background: linear-gradient(#3877EE, #EF5DA8);
  }
}

.circle__container {
  top: 45%;
  left: 50%;
  z-index: 3;
  width: 530px;
  height: 530px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #42567A33;
}

.each__dot {
  width: 56px;
  height: 56px;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  justify-content: center;
  flex-direction: column;

  &:hover .dot__wrapper {
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    background-color: #F4F5F9;
    border: 1px solid #303E58;

    .dot__content {
      display: flex;

      .dot_title {
        display: none;
      }
    }
  }

  .dot__wrapper {
    width: 6px;
    height: 6px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    justify-content: center;
    flex-direction: column;
    background-color: #42567A;
    transition:
            top .3s ease,
            left .3s ease,
            width .3s ease,
            height .3s ease,
            border-radius .3s ease,
            background-color .3s ease;

    .dot__content {
      width: 56px;
      height: 56px;
      display: none;
      position: relative;
      transition: opacity .3s ease;

      .dot_number {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      .dot_title {
        top: 50%;
        color: #42567A;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: calc(100% + 20px);
        transform: translateY(-50%);
      }
    }

    &.active {
      width: 56px;
      height: 56px;
      top: calc(50% - 28px);
      left: calc(50% - 28px);
      background-color: #F4F5F9;
      border: 1px solid #303E58;

      &::before {
        width: 0;
        height: 0;
      }

      .dot__content {
        display: flex;

        .dot_title {
          display: flex;
        }
      }
    }
  }
}

.timeline__period {
  top: 45%;
  left: 50%;
  gap: 130px;
  z-index: 2;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);

  div {
    font-size: 200px;
    font-weight: bold;
  }

  .from {
    color: #5d5fef;
  }

  .to {
    color: #ef5da8;
  }
}

.bottom__nav {
  gap: 56px;
  display: flex;
  flex-direction: column;
}

.timeline__controls {
  gap: 20px;
  display: flex;
  margin-left: 80px;
  flex-direction: column;

  .counter {
    color: #42567A;
    font-size: 16px;
  }

  .arrows {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .arrow {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    border: 1px solid #9ba4ba;
    transition: box-shadow 0.2s;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      box-shadow: 0 0 5px 0 #42567A;
    }
  }
}

.slider {
  padding: 0 5px;

  :global(.swiper) {
    padding: 0 70px;
  }

  .slider__slide {
    gap: 15px;
    display: flex;
    flex-direction: column;

    .event__year {
      color: #3877EE;
      font-size: 25px;
    }

    .event__description {
      color: #42567A;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  :global(.swiper-button-prev), :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 5px !important;
    margin-right: 5px !important;
    transition: transform .3s, box-shadow .3s;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);

    svg {
      height: 10px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  :global(.swiper-button-disabled) {
    display: none;
  }
}