@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pt-sans-700.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}