.wrapper {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e1e5ec;
  border-right: 1px solid #e1e5ec;

  &::before,
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    background: #e1e5ec;
    pointer-events: none;
  }

  &::before {
    left: 0;
    top: 45%;
    width: 100%;
    height: 1px;
    transform: translateY(-45%);
  }

  &::after {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
  }
}

.timeline__container {
  gap: 393px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 70px;
  min-height: 900px;
  flex-direction: column;
}

.title__heading {
  margin: 0;
  color: #42567A;
  font-size: 56px;
  max-width: 400px;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
  padding-left: 80px;

  &::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    content: "";
    position: absolute;
    background: linear-gradient(#3877EE, #EF5DA8);
  }
}

.circle__container {
  top: 45%;
  left: 50%;
  z-index: 3;
  width: 530px;
  height: 530px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #42567A33;
}

.each__dot {
  width: 56px;
  height: 56px;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  justify-content: center;
  flex-direction: column;

  &:hover .dot__wrapper {
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    background-color: #F4F5F9;
    border: 1px solid #303E58;

    .dot__content {
      display: flex;

      .dot_title {
        display: none;
      }
    }
  }

  .dot__wrapper {
    width: 6px;
    height: 6px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    justify-content: center;
    flex-direction: column;
    background-color: #42567A;
    transition:
            top .3s ease,
            left .3s ease,
            width .3s ease,
            height .3s ease,
            border-radius .3s ease,
            background-color .3s ease;

    .dot__content {
      width: 56px;
      height: 56px;
      display: none;
      position: relative;
      transition: opacity .3s ease;

      .dot_number {
        top: 50%;
        left: 50%;
        font-size: 20px;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      .dot_title {
        top: 50%;
        color: #42567A;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: calc(100% + 20px);
        transform: translateY(-50%);
      }
    }

    &.active {
      width: 56px;
      height: 56px;
      top: calc(50% - 28px);
      left: calc(50% - 28px);
      background-color: #F4F5F9;
      border: 1px solid #303E58;

      &::before {
        width: 0;
        height: 0;
      }

      .dot__content {
        display: flex;

        .dot_title {
          display: flex;
        }
      }
    }
  }
}

.timeline__period {
  top: 45%;
  left: 50%;
  gap: 130px;
  z-index: 2;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);

  div {
    font-size: 200px;
    font-weight: bold;
  }

  .from {
    color: #5d5fef;
  }

  .to {
    color: #ef5da8;
  }
}

.bottom__nav {
  gap: 56px;
  display: flex;
  flex-direction: column;
}

.timeline__controls {
  gap: 20px;
  display: flex;
  margin-left: 80px;
  flex-direction: column;

  .counter {
    color: #42567A;
    font-size: 16px;
  }

  .arrows {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .arrow {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    border: 1px solid #9ba4ba;
    transition: transform .2s, box-shadow .2s;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    }
  }
}

@keyframes slideAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider {
  opacity: 0;
  transform: translateY(50px);
  animation: slideAnimation 1s ease-in-out forwards;

  :global(.swiper) {
    position: relative;
    max-width: 1200px;
  }

  .slider__slide {
    gap: 15px;
    display: flex;
    flex-direction: column;

    .event__year {
      color: #3877EE;
      font-size: 25px;
      font-family: 'Bebas Neue', sans-serif;
    }

    .event__description {
      color: #42567A;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .slider__prev, .slider__next {
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    transform: translateY(-50%);
    transition: transform .2s, box-shadow .2s;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
  }

  .slider__prev {
    left: 40px;
  }

  .slider__next {
    right: 40px;
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next),
  :global(.swiper-button-disabled) {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .wrapper {
    border: none;
    padding: 0 20px;
    align-items: flex-start;

    &::before,
    &::after {
      display: none;
    }
  }

  .timeline__container {
    gap: 58px;
    margin: 0 0 20px;
    min-height: 100vh;
  }

  .circle__container {
    display: none;
  }

  .title__heading {
    padding: 0;
    font-size: 20px;
    max-width: 125px;
    margin-top: 60px;

    &::before {
      width: 0;
    }
  }

  .timeline__period {
    gap: 20px;
    position: unset;
    transform: unset;
    justify-content: space-between;

    div {
      font-size: 56px;
    }
  }

  .bottom__nav {
    gap: 78px;
    padding-top: 20px;
    position: relative;
    border-top: 1px solid #C7CDD9;

    .timeline__controls {
      gap: 10px;
      bottom: 0;
      z-index: 2;
      margin: 0 0 0 2px;
      position: absolute;
    }

    .counter {
      font-size: 14px;
    }

    .arrows {
      gap: 10px;
    }

    .arrow {
      width: 25px;
      height: 25px;
      box-shadow: none !important;

      svg {
        transform: scale(.5);
      }
    }

    .slider {
      padding: 0;
      transform: unset;

      :global(.swiper) {
        padding: 0;
        height: 250px;
      }

      :global(.swiper-pagination-bullet) {
        width: 6px;
        height: 6px;
        opacity: 0.4;
        margin: 0 5px !important;
        background-color: #42567A;
      }

      :global(.swiper-pagination-bullet-active) {
        opacity: 1;
      }

      :global(.swiper-slide-next) {
        opacity: 0.4;
      }

      .event__year {
        font-size: 16px;
      }

      .event__description {
        font-size: 14px;
      }

      .slider__prev, .slider__next {
        display: none;
      }
    }
  }
}